#navbar-padding {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  place-items: center;
}

.mt-3 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: ;
}

.big-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.virtual-card-container {
  height: 180px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sm-card-container {
  height: 180px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.sm-card {
  height: auto;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row1 {
  margin-bottom: 10px;
}

.expenses {
  height: 150px;
  width: 620px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.vc-header {
  height: 80px;
  display: flex;
  align-items: center;
}

.vc-footer {
  display: grid;
}

.vc-footer-left {
  justify-self: left;
  grid-row: 1;
  align-self: end;
}

.vc-footer-right {
  justify-self: right;
  grid-row: 1;
  align-self: end;
}

.dash-header {
  margin-top: 3rem;
  width: 620px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.expense-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
